@import url('https://fonts.googleapis.com/css?family=Lora');
*{
    font-family: 'Lora',sans-serif;
}
body{
    background-color: hsla(149, 0%, 62%, 1);
}
h1{
    text-align: center;
    color:white;
}
#input{
    margin-top: 7vh;
    text-align: center;
}
ul{
    width:40%;
    margin:auto;
}